body{
    background-color: hsl(169, 44%, 15%);
}
.to-do-list{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin-top: 100px;
}
h1{
    font-size: 4rem;
    color: white;
}
button{
    font-size: 1.7rem;
    font-weight: bold;
    padding: 10px 20px;
    color: white;
    border: none;
    border-radius: 7px;
    cursor: pointer;
    transition: background-color 0.5s ease;
}
.add-button{
   background-color: hsl(120, 100%, 35%); 
}
.add-button:hover{
    background-color: hsl(120, 100%, 25%); 
}
.delete-button{
    background-color: hsl(1, 100%, 45%); 
}
.delete-button:hover{
    background-color: hsl(1, 100%, 35%); 
}
.move-button{
    background-color: hsl(193, 100%, 45%); 
}
.move-button:hover{
    background-color: hsl(193, 100%, 35%); 
}
/*Para pegar apenas os inputs do tipo "text"*/
input[type="text"]{
    font-size: 1.6rem;
    padding: 10px;
    border: 2px solid hsla(0, 0%, 80%, 0.5);
    border-radius: 5px;
    color: hsla(0, 0%, 0%, 0.5);
}
ol{
    padding: 0;  /*  Tirará os números da lista */
}
li{
    font-size: 2rem;
    font-weight: bold;
    background-color: hsl(0, 0%, 97%);
    margin-bottom: 10px;
    border: 3 solid hsla(0, 0%, 85%, 0.75);
    border-radius: 5px;
    display: flex;
    align-items: center;
}
.text{
    flex: 1;
}
.delete-button, .move-button{
    padding: 8px 12px;
    font-size: 1.4rem;
    margin-left: 10px;
}
